h1 {
	text-align: center;
}
h2 {
	font-family: arial;
	font-size: 38px;
	margin-top: 90px;
}

h3 {
	font-family: arial;
	font-size: 28px;
}

.completed {
	color: green;
}

.not-completed {
	color: red;
}
#todo-container {
	margin: 0 auto;
	max-width: 1200px;
}

#todo-container section {
	max-width: 90%;
	margin: 0 auto;
	padding: 10px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

#todo-container section div {
	height: 250px;
	background-color: #EBEBEB;
	border-radius: 5px;
	display: inline-block;
	width: 320px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 0 10px;
	box-shadow: 20px 22px 38px -29px rgba(0,0,0,1);
}

#todo-container section div:first-child {
	background-color: #31A4F7;
}

